export default {
    "title": "<$ model.Name $>",
    "path": "/<$ model.name $>",
    "icon": "asl-interpreting",
    "children": [
        {
            "title": "<$ model.Name $>List",
            "path": "/<$ model.name $>/list",
            "icon": "universal-access"
        }
    ]
}