export default {
    "name": "<$ model.Name $>",
    "path": "/<$ model.name $>",
    "component": "layoutHeaderAside",
    "componentPath": "layout/header-aside/layout",
    "meta": {
        "title": "<$ model.Name $>"
    },
    "children": [
        {
            "name": "<$ model.Name $>Page",
            "path": "/<$ model.name $>/list",
            "component": "<$ model.name $>",
            "componentPath": "pages<$ model.module $><$ model.name $>/index",
            "meta": {
                "title": "<$ model.Name $>List",
                "cache": true
            }
        }
    ]
}