<$ config.ApiServer $>/<$ model.name $>/get?id=
<$ config.ApiServer $>/<$ model.name $>/paged?pageIndex=&pageSize=&sortBy=&descending=<% for property in model.properties %>&<$ property.key $>=<% endfor %>
<$ config.ApiServer $>/<$ model.name $>/del?id=
<$ config.ApiServer $>/<$ model.name $>/batchdel?ids=[]
<$ config.ApiServer $>/<$ model.name $>/save
{
<% for property in model.properties %>
   "<$ property.key $>":"",
<% endfor %>  
}